.adlam-display-regular {
  font-family: "ADLaM Display", system-ui;
  font-weight: bold;
  font-style: normal;
}

body {
    font-family: "ADLaM Display", Arial, sans-serif;
    color: white;
    background-color: rgb(61, 61, 61);
    background-image: url('../images/bg.png');
    background-repeat: repeat;
    margin: 0px;
}
main {
    width: 80%;
    padding-bottom: 30px;
    margin: auto;
    background-color: rgb(21, 21, 21);
    border-radius: 20px;
}

#logo {
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 30px;
    height: 15%;
    width: 15%;
}

nav ul {
    text-align: center;
    margin: auto;
}

nav ul li {
    list-style-type: none;
    background-color: rgb(71, 116, 152);
    display: inline;
    float: left;
    padding: 1%;
    margin: 1%;
    border: 6px solid rgb(65, 144, 205);
    border-radius: 12px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.8em;
    text-align: center;
}

#currentpage {
    background-color: rgb(51, 64, 96);
    border: 6px solid rgb(62, 121, 132);
}

article {
    clear: both;
    margin-left: 3%;
    margin-right: 3%;
}

h1 {
    font-size: 3em;
    margin: 10px;
}

p {
    font-family: Arial, sans-serif;
    font-size: 1.3em;
}
    

footer {
    background-color: rgba(1, 6, 17, 0.914);
    color: white;
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
    margin-top: 10px;
    bottom: 0;
    position: absolute;
    height: 2.5rem;
}

footer p {
    margin-bottom: 0;
}

footer p a {
    color: rgb(157, 248, 192);
    text-decoration: none;
}

aside {
    width: 90%;
    margin: auto;
}
aside h2{
    margin: 20px;
    text-align: center;
    font-size: 2em;
}
aside li{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}
#bluebox {
    background-color: rgb(51, 64, 96);
    border: 4px dashed rgb(62, 121, 132);
    border-radius: 10px;
}

#greenbox {
    background-color: rgb(48, 99, 49);
    border: 4px dashed rgb(44, 132, 50);
    border-radius: 10px;
}

#redbox {
    background-color: rgb(99, 53, 48);
    border: 4px dashed rgb(132, 52, 44);
    border-radius: 10px;
}

.tool {
    float: left;
    margin-right: 10px;
}

a {
    color: rgb(44, 132, 50);
    text-decoration: none ;
}

tr, th, td {
    font-size: 1.3em;
    text-align: center;
    padding: 10px;
    border: 2px dashed rgb(44, 132, 50);
    border-radius: 10%;
    background-color: rgb(48, 99, 49);
    
}

th, .leftcol {
    background-color: rgb(27, 48, 28);
}

#blankcell {
    border: 3px solid rgb(22, 22, 22);
    border-radius: 0;
    background-color: rgb(21, 21, 21);
}

#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 3.1rem;
}

.columns {
    column-count: 3;
    column-rule: 4px dashed rgb(51, 64, 96);
    column-gap: 50px;
    padding: 2px;
    width: 80%;
    margin: auto;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 3px dashed rgb(62, 121, 132);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
  }
  
  input[type=submit] {
    background-color: rgb(44, 132, 50);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(27, 48, 28);
  }

  #divider {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .required {
    font-weight: bold;
    color: red;
  }

  #modlist {
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    list-style-type:square;
  }

  .emp {
    color: rgb(247, 159, 159);
    font-weight: bolder;
  }