.adlam-display-regular {
  font-family: "ADLaM Display", system-ui;
  font-weight: bold;
  font-style: normal;
}

body {
    font-family: ADLaM Display, Arial, sans-serif;
    color: white;
    background-color: rgb(61, 61, 61);
    background-image: url('../images/bg.png');
    background-repeat: repeat;
    margin: 0px;
}
main {
    width: 80%;
    padding-bottom: 30px;
    margin: auto;
    background-color: rgb(21, 21, 21);
    border-radius: 20px;
}

#logo {
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 30px;
    height: 15%;
    width: 15%;
}

nav ul {
    text-align: center;
    margin: auto;
}

nav ul li {
    list-style-type: none;
    background-color: rgb(71, 116, 152);
    display: inline;
    float: left;
    padding: 1%;
    margin: 1%;
    border: 6px solid rgb(65, 144, 205);
    border-radius: 12px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.8em;
    text-align: center;
}

#currentpage {
    background-color: rgb(51, 64, 96);
    border: 6px solid rgb(62, 121, 132);
}

article {
    clear: both;
    margin-left: 3%;
    margin-right: 3%;
}

h1 {
    font-size: 3em;
    margin: 10px;
}

p {
    font-family: Arial, sans-serif;
    font-size: 1.3em;
}
    

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    width: 100%;
    margin-top: 10px;
    position: absolute;
}

footer p a {
    color: white;
    text-decoration: none;
}

aside {
    width: 90%;
    margin: auto;
}
aside h2{
    margin: 20px;
    text-align: center;
    font-size: 2em;
}
aside p{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}
#bluebox {
    background-color: rgb(51, 64, 96);
    border: 4px dashed rgb(62, 121, 132);
    border-radius: 10px;
}

#greenbox {
    background-color: rgb(48, 99, 49);
    border: 4px dashed rgb(44, 132, 50);
    border-radius: 10px;
}

#redbox {
    background-color: rgb(99, 53, 48);
    border: 4px dashed rgb(132, 52, 44);
    border-radius: 10px;
}

.tool {
    float: left;
    margin-right: 10px;
}

a {
    color: rgb(44, 132, 50);
    text-decoration: none ;
}
